
<h1 id="page_title">商務服務創新思考列表</h1>

<div id="posts_wrapper" class="skinny_wrapper">
	<% @posts.each do |post| %>
		<div class="post">
			<p class="date"><%= post.created_at.strftime('%A, %B %d') %></p>
			<h2><a href="#"><%= link_to post.title, post %></a></h2>
			<p>類別:<%= post.category.try(:name) %></p>
			<p>Published at <%= time_ago_in_words(post.created_at) %></p>
			<p>by <%= post.user.email %></p>
			<hr>
		</div>
	<% end %>
	<div class="button_wrapper">
	  <%= link_to("我有創新想法", new_post_path, :class =>"project_button") %>
	  <%= link_to("Latest Posts list", latest_posts_path, :class =>"project_button") %>
	</div>
</div>

<%= will_paginate @posts %>